<p>Nombre del empleado: {{ nombre }}</p>
<p>Apellido del empleado: {{ apellido }}</p>
<p>Edad del empleado: {{ edad < 18 ? 'Menor de edad' : 'Mayor de edad' }}</p>
<p>Empresa del empleado: {{ empresa }}</p>

<!-- Event binding -->
Introduce empresa: <input type="text"
  (input)="cambiaEmpresa($event)"
>
<br>

<!-- to way binding -->
Introduce empresa: <input type="text"
  [(ngModel)]="empresa"
>

<br>
{{ textoDeRegistro }}
<br>
Registrado: <input type="radio" id="usuarioRegistrado"
  name="nRegistro"
  value = "si"
  [checked]="usuarioRegistrado"
  (input)="setUsuarioRegistradoEvento($event)"
>
<br>
No registrado: <input type="radio" id="usuarioRegistrado"
  name="nRegistro"
  value = "no"
  [checked]="usuarioRegistrado"
  (input)="setUsuarioRegistradoEvento($event)"
>

<!-- Cambia el valor de usuarioRegistra de false a . -->
{{ getRegistroUsuario() }}
